#scroll-container {
    overflow: hidden;
    white-space: nowrap;
}

#content-wrapper {
    display: inline-flex;
    animation: scrolling 10s linear infinite;
}

.scrolling-image {
    max-width: 100%;
}

@keyframes scrolling {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
